html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: $darkorange;
    border-radius: 5rem;
  }
}
.App {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #159957, #155799);
}

.btn {
  display: inline-block;
  @include text(1.6rem);
  color: $dark-light;
  padding: 0.7rem 1.2rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: #5ac9e4;
    color: $white;
  }
}

.input {
  display: block;
  width: 80%;
  padding: 0.5rem 1rem;
  margin: 1.5rem auto;
  border: 0.2rem solid $white;
  border-radius: 0.5rem;
}

.container {
  width: 100%;
  max-width: 108rem;
  margin: 0 auto;
}

.heading {
  position: absolute;
  top: 15rem;
  left: 0;
  width: 100%;
  @include text(3rem);
  margin: 0 auto;
  text-align: center;
}

.danger {
  color: #e73637;
}

.success {
  color: #1d8c7a;
}
