html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: $darkorange;
    border-radius: 5rem;
  }
}
.App {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #1D2B64, #F8CDDA);
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.heading {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  @include text(3rem);
  margin: 0 auto;
  text-align: center;
}
