.form {
  padding-top: 8rem;
  text-align: center;
  @include text(1.4rem);
  &-input {
    width: 30%;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: 0.2rem solid $white;
    border-radius: 0.5rem;
  }
  &-btn {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: #49bca3;
      color: $white;
    }
  }
}
